<div class="form-container">
  <h3>{{ isCreateFlow ? 'Create Car' : 'Update Car' }}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="vin">VIN:</label>
      <input type="text" class="p-inputtext" id="vin" [(ngModel)]="car.vin" name="vin" required>
    </div>
    <div class="p-field">
      <label for="year">Year:</label>
      <input type="number" class="p-inputtext" id="year" [(ngModel)]="car.year" name="year" required>
    </div>
    <div class="p-field">
      <label for="brand">Brand:</label>
      <input type="text" class="p-inputtext" id="brand" [(ngModel)]="car.brand" name="brand" required>
    </div>
    <div class="p-field">
      <label for="color">Color:</label>
      <input type="text" class="p-inputtext" id="color" [(ngModel)]="car.color" name="color" required>
    </div>
    <div class="p-field">
      <label for="price">Price:</label>
      <input type="number" class="p-inputtext" id="price" [(ngModel)]="car.price" name="price" required>
    </div>
    <button type="submit" class="p-button p-button-success">{{ isCreateFlow ? 'Create' : 'Update' }}</button>
  </form>
</div>
