<div class="col-md-6 offset-md-3">
  <h3>Create Car</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="vin">VIN:</label>
      <input type="text" class="form-control" id="vin" [(ngModel)]="car.vin" name="vin" required>
    </div>
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="number" class="form-control" id="year" [(ngModel)]="car.year" name="year" required>
    </div>
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" class="form-control" id="brand" [(ngModel)]="car.brand" name="brand" required>
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input type="text" class="form-control" id="color" [(ngModel)]="car.color" name="color" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="car.price" name="price" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>