<div class="button-wrapper">
  <app-sort-dialog (sortSelected)="onSortChanged($event)" style="margin-right: 10px"></app-sort-dialog>
  <app-dialog-component (filterOptions)="onFilterChanged($event)"></app-dialog-component>
</div>

<p-table [value]="cars" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [(first)]="first">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" style="color: rgb(31, 26, 26)">
        {{ col.header }}
        <span *ngIf="col.field !== 'actions'">
          <!-- <button pButton icon="pi pi-sort" (click)="sort(col.field)"></button> -->
          <!-- <button pButton icon="pi pi-filter" (click)="showFilter(col.field)"></button> -->
        </span>

      </th>
      <th>
        Actions
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" style="color: rgb(115, 80, 80)">
    <tr>
      <td *ngFor="let col of cols">
        {{ rowData[col.field] }}
      </td>
      <td>
        <button (click)="updateCar(rowData.id)" class="btn-btn-info">Update</button>
        <button (click)="deleteCar(rowData.id)" class="btn-btn-danger" style="margin-left: 10px">
          Delete
        </button>
        <button (click)="carDetails(rowData.id)" class="btn-btn-danger" style="margin-left: 10px">
          Retrieve
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>